<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>

        <h1>{{name}}</h1>

        <div id="topbanner">
            <ul>
                <li><a href="default.asp">Home</a></li>
                <li><a href="news.asp">Rankings</a></li>
                <li><a href="contact.asp">Courses</a></li>
                <li><a href="about.asp">Staff</a></li>
            </ul>
        </div>
        <h1>xxx</h1>


        <form method="POST" action="/">
            <input type="submit">
        </form>

        <form method="POST" action="/test">
            <input name="first_name" type="text">
            <input name="last_name" type="text">
            <input name="siid" type="text">
            <input type="submit">

        </form>

        <!--form for testing of runner master db  upload-->
        <div class="table-responsive">
        <table class="table table-bordered table-hover" style="width: 70%; text-align: center">
          <thead class="thead-light">
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">SIID</th>
              <th scope="col">Edit / Remove</th>
            </tr>
          </thead>
          <tbody>
             {{#runner_mass_data}}
             <tr>
                 <td>{{first_name}}</td>
                 <td>{{last_name}}</td>
                 <td>{{siid}}</td>
                 <td style = "width: 30%;">
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewRunner">
                       Edit Runner
                     </button>
                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove_person" id={{siid}} onClick="reply_click(this.id)">

                         <script>
                         function reply_click(clicked_id) {
                             document.cookie = "cookie=" + clicked_id;
                         }
                         </script>

                       Remove Runner
                     </button>
                 </td>
             </tr>
             {{/runner_mass_data}}
          </tbody>
        </table>
    </div>


        <!--Test GRAPH-->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewRunner">
          Add New Runner
        </button>




        <!-- Modal -->
        <div class="modal fade" id="remove_person" tabindex="-1" role="dialog" aria-labelledby="remove_person" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove Runner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="first_name" class="col-form-label">Are you sure you want to remove this runner</label>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                <form action="/test" method="POST">

                <button type="submit" id="id_scanner" class="btn btn-danger" name="foo" value="fetch_cookie">Remove Runner</button>

                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNewRunner" tabindex="-1" role="dialog" aria-labelledby="addNewRunner" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Runner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form method="POST" action="/test" id="add_runner">
                           <div class="form-group">
                             <label for="first_name" class="col-form-label">First Name:</label>
                             <input type="text" class="form-control" name="first_name">
                           </div>
                           <div class="form-group">
                             <label for="last_name" class="col-form-label">Last Name:</label>
                             <input type="text" class="form-control" name="last_name">
                           </div>
                           <div class="form-group">
                             <label for="siid" class="col-form-label">SIID:</label>
                             <input type="text" class="form-control" name="siid">
                           </div>
                       </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="event.preventDefault();document.getElementById('add_runner').submit();">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
